{% extends 'base.html' %}


{% block body %}

        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>blog grid</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog grid</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    BLOG GRID PART START
        =======================================-->
        <section class="inner-section blog-grid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="top-filter">
                                    <div class="filter-show">
                                        <label class="filter-label">Show :</label>
                                        <select class="form-select filter-select">
                                            <option value="1">12</option>
                                            <option value="2">24</option>
                                            <option value="3">36</option>
                                        </select>
                                    </div>
                                    <div class="filter-short">
                                        <label class="filter-label">Short by :</label>
                                        <select class="form-select filter-select">
                                            <option selected>default</option>
                                            <option value="3">recent</option>
                                            <option value="1">featured</option>
                                            <option value="2">recommend</option>
                                        </select>
                                    </div>
                                    <div class="filter-action">
                                        <a href="blog-grid.html" class="active" title="Two Column"><i class="fas fa-th-large"></i></a>
                                        <a href="blog-standard.html" title="One Column"><i class="fas fa-th-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for post in object_list %}
                               <div class="col-md-6 col-lg-6">
                                <div class="blog-card">
                                    <div class="blog-media">
                                        <a class="blog-img" href="#">
                                            <img src="{{post.image.url}}" alt="blog">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li>
                                                <i class="fas fa-user"></i>
                                                <span>{{post.author}}</span>
                                            </li>
                                            <li>
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>february 02, 2021</span>
                                            </li>
                                        </ul>
                                        <h4 class="blog-title">
                                            <a href="{% url 'blog:post_detail' post.id %}">{{post}}</a>
                                        </h4>
                                        <p class="blog-desc">
                                           {{post.content}}
                                        </p>
                                        <a class="blog-btn" href="{% url 'blog:post_detail' post.id %}">
                                            <span>read more</span>
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                               </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="bottom-paginate">
                                    <p class="page-info">Showing 12 of 60 Results</p>
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-long-arrow-alt-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">...</li>
                                        <li class="page-item"><a class="page-link" href="#">60</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-4">
                        <div class="blog-widget">
                            <h3 class="blog-widget-title">Find blogs</h3>
                            <form class="blog-widget-form">
                                <input type="text" placeholder="Search blogs">
                                <button class="icofont-search-1"></button>
                            </form>
                        </div>
                        <div class="blog-widget">
                            <h3 class="blog-widget-title">popular feeds</h3>
                            <ul class="blog-widget-feed">
                                <li>
                                    <a class="blog-widget-media" href="#">
                                        <img src="images/blog-widget/01.jpg" alt="blog-widget">
                                    </a>
                                    <h6 class="blog-widget-text">
                                        <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                                        <span>february 02, 2021</span>
                                    </h6>
                                </li>
                                <li>
                                    <a class="blog-widget-media" href="#">
                                        <img src="images/blog-widget/02.jpg" alt="blog-widget">
                                    </a>
                                    <h6 class="blog-widget-text">
                                        <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                                        <span>february 02, 2021</span>
                                    </h6>
                                </li>
                                <li>
                                    <a class="blog-widget-media" href="#">
                                        <img src="images/blog-widget/03.jpg" alt="blog-widget">
                                    </a>
                                    <h6 class="blog-widget-text">
                                        <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                                        <span>february 02, 2021</span>
                                    </h6>
                                </li>
                                <li>
                                    <a class="blog-widget-media" href="#">
                                        <img src="images/blog-widget/04.jpg" alt="blog-widget">
                                    </a>
                                    <h6 class="blog-widget-text">
                                        <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                                        <span>february 02, 2021</span>
                                    </h6>
                                </li>
                                <li>
                                    <a class="blog-widget-media" href="#">
                                        <img src="images/blog-widget/05.jpg" alt="blog-widget">
                                    </a>
                                    <h6 class="blog-widget-text">
                                        <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                                        <span>february 02, 2021</span>
                                    </h6>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-widget">
                            <h3 class="blog-widget-title">top categories</h3>
                            <ul class="blog-widget-category">
                                {% for cat in category_list %}
                                  <li><a href="#">{{cat}} <span>22</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="blog-widget">
                            <h3 class="blog-widget-title">popular tags</h3>
                            <ul class="blog-widget-tag">
                                {% for tag in tags_list  %}
                                  <li><a href="#">{{tag}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="blog-widget">
                            <h3 class="blog-widget-title">follow us</h3>
                            <ul class="blog-widget-social">
                                <li><a href="#" class="icofont-facebook"></a></li>
                                <li><a href="#" class="icofont-twitter"></a></li>
                                <li><a href="#" class="icofont-linkedin"></a></li>
                                <li><a href="#" class="icofont-pinterest"></a></li>
                                <li><a href="#" class="icofont-instagram"></a></li>
                            </ul>
                        </div>
                        <div class="blog-widget">
                            <a href="#"><img class="img-fluid" src="images/promo/blog/01.jpg" alt="promo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    BLOG GRID PART END
        =======================================-->
        {% endblock body %}
